<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Кинотека</title>
</head>
<body>
<div class="container-fuild p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th><i class="bi bi-square"></i></th>
                    <th scope="col">Номер</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Год премьеры</th>
                    <th scope="col">Продолжительность</th>
                    <th scope="col">Возрастное ограничение</th>
                    <th scope="col">Жанр</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film: ${films}">
                    <th></th>
                    <td th:text="${film.id}"></td>
                    <td th:text="${film.name}"></td>
                    <td th:text="${film.description}"></td>
                    <td th:text="${film.year}"></td>
                    <td th:text="${film.durationInMinutes}"></td>
                    <td th:text="${film.minimalAge}"></td>
                    <td th:text="${film.genre}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>