<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Покупка билета</title>
</head>
<body>
<div class="container-fuild p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <form class="mt-3" action="#" th:action="@{/schedule/buy}" method="post" th:object="${filmSession}"
              enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="*{id}">
            <input type="hidden" name="fileId" th:field="*{fileId}">
            <div class="row mb-3">
                <div class="col-3">
                    <div class="mb-3">
                        <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100" alt="No image">
                    </div>
                </div>
                <div class="col-9">
                    <div class="mb-3">
                        <p th:text="${filmSession.filmName}"></p>
                        <p th:text="${filmSession.description}"></p>
                        <p th:text="${filmSession.startTime}"></p>
                        <p th:text="${filmSession.endTime}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="row"><b>Ряд</b></label>
                        <select class="form-control" id="row" name="row">
                        <span th:if="${filmSession.hallId == 1}">
                            <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}" th:field="*{row}" th:selected="${i == row}"></option>
                        </span>
                            <span th:if="${filmSession.hallId == 2}">
                            <option th:each="i : ${#numbers.sequence(1,10)}" th:value="${i}" th:text="${i}" th:field="*{row}" th:selected="${i == row}"></option>
                        </span>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="place"><b>Место</b></label>
                        <select class="form-control" id="place" name="place">
                        <span th:if="${filmSession.hallId == 1}">
                            <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}" th:field="*{place}" th:selected="${i == place}"></option>
                        </span>
                            <span th:if="${filmSession.hallId == 2}">
                            <option th:each="i : ${#numbers.sequence(1,10)}" th:value="${i}" th:text="${i}" th:field="*{place}" th:selected="${i == place}"></option>
                        </span>
                        </select>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <div class="col-12"><button class="btn btn-primary w-100" type="submit">Купить</button></div>
                            <div class="col-12"><a class="btn btn-danger w-100" th:href="@{/schedule}">Отмена</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>